<div class="cardImage" style="width:100%;margin-bottom:1rem;display:inline-block">
  {{#with image}}
    <div class="card border-0">
      <img class="card-img" src="{{src.small}}">
      <div class="card-img-overlay bottom d-flex justify-content-between p-3">
        <a href="{{photographer_url}}" id="photographer-name"><span  class="" style="">{{photographer}}</span></a>
        <a class="download-link" data-src="{{src.original}}" data-title="{{title}}"> <i class="fa fa-download"></i> Download</a>
      </div>
    </div>
  {{/with}}
</div>
